body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  margin: 0;
  padding-top: 2.2em;
  text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

.schdesign-logo {
  display: block;
  float:right;
  height:5em;
  width: 7em;
  margin-left: 2em;
}

ul {
  list-style-type: square;
  }


.table__cell--filler {
  visibility: hidden;
}

.table__cell--xs-only {
  display: none;
}

.chevron-right {
  fill: #fff;
  height:1.1em;
  width:1.1em;
  margin-left: 1.5em;
  margin-bottom: -.25em;
  margin-right: -.3em;
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  margin:0;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 2em;
}

.paragraph--emphasised {
  font-weight: 600;
}



@media (max-width: 991px) { 

	body {
		font-size: 16px;
	}
 }

.header{
  margin: 2em 5em;
}

.burger-check {
  display: none;
}

.menu {
  background-color: #A82B31;
  color: #fff;
  position: fixed;
  top:0;
  width: 100vw;
  box-shadow: 0 0 .5em 0.1em rgba(0, 0, 0, 0.3);
}

.menu__bar {
  display: none;
}

.menu__items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.menu__item {
  display: block;
  padding: .5em;
  font-size: 1.2em;
  color: inherit;
}

.menu__button{
  background-color: transparent;
  border: none;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

.menu__menu-icon {
  fill: #fff;
  width: 2em;
  height: 2em;
  display: block;
}

.download-icon {
  fill: #000;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom:-.5em;
}

.card-wrapper {
  margin: 0 auto;
  padding: .5em;
}

.card {
  margin: 0 auto 32px;
  max-width: 50em;
}

.card__header {
  padding: .5em 3em;
  background-color: #A82B31;
  font-size: 1.2em;
  color: #fff;
}

.card__body {
  padding: 0 3em 1em;
  font-size: 1em;
  background-color: #f2f2f2;
  overflow: auto;
}

.card__button {
  display: inline-block;
  font-size: 1em;
  padding: .5em .8em;
  color: #fff;
  margin: .2em .1em;
  white-space: nowrap;
}

.card__button--color-red{
  background-color: #A82B31;
}

.card__button--color-green{
  background-color: #468061;
}

.card__button--color-blue{
  background-color: #466180;
}

.paragraph {
}

.table {
  font-size: 0.8em;
  width: 100%;
}



.table__flex-break {
  display: none;
}

.table__header{
  background-color: #e6e6e6;
  font-weight: normal;
}

.table__header-cell{
  font-weight: normal;
    padding: 0 .8em;
}

.table__cell--text-align-center{
	text-align: center;
}

.table__row:nth-child(even){
  background-color: #fff;
}

.table__link{
  color: #A82B31;
}

.footer {
  font-size: .8em;
  background-color: #545454;
  color: #f2f2f2;
  padding: 1em 6em;
}



.footer > p {
  margin:0;
}

@media (max-width: 767px) {
	
	
	.header{
		text-align:center;
}
	
	h1 {
		font-size: 1.5em;
	}
	
	h2 {
		font-size: 1.2em;
		margin: 0 0;
	}
	
	.card__header {
		padding: .5em 1em;
	}
	
	.card__body {
		padding: 0 1em 1em;
	}
	
	.header{
		margin: 2em 0;
}

 .footer {
  font-size: 0.8em;
  background-color: #545454;
  color: #f2f2f2;
  padding: 1em 1em;
}


	
}

@media (max-width: 576px) {

  body{
    padding:0;
  }

.table, .table__header-wrapper, .table__header, .table__header-cell,
.table__body, .table__row, .table__cell--text-align-center,
.table__cell--flexible, .table__cell--inflexible {
  /*display: block;*/
  box-sizing: border-box;
}

.table {
  width: initial;
}

.table__header, .table__row {
  display: flex;
  flex-wrap: wrap;
}

.table__cell {
}

.table__cell--inflexible {
  flex: 0 0;
  padding: 0 .3em;
}

.table__cell--flexible {
  flex: 1 0 60%;
  text-align: left;
  /*white-space: pre-wrap;*/
}

.table__flex-break {
  display: block;
  flex: 0 0 100%;
  padding:0;
}

.table_cell--data-lecturer::before{
  /*non-breaking space*/
  content:"Előadó:\00a0";
}

.table_cell--data-comment::before{
  content:"Megjegyzés:\A";
  white-space: pre-wrap;
}

#a, #b {
  display: none;
}

.menu {
  position: initial;
  box-shadow: none;
}
.menu__items {
  display: none;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.menu__item {
  width: 100vw;
  text-align: center;
}

.menu__bar {
  display: block;
  padding: .4em;
  font-size: 1.2em;
  color: #fff;
  background-color: #A82B31;
}

.table__cell--except-xs {
  display:none;
}

.table__cell--xs-only {
  display: block;
}

.table__cell--filler {
  display: none;
}



}

.undisplayed {
  display: none;
}

.table__cell {
  padding: .5em;
}

.table__cell--except-xs {
  display: table-cell;
}