body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

.chevron-right{
  fill: #fff;
  height:0.6em;
  margin-left: 1.5em;
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  margin:0;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 2em;
}



@media (max-width: 991px) { 

	body {
		font-size: 16px;
	}
 }

.header{
  margin: 2em 5em;
}

.burger-check {
  display: none;
}

.menu {
  background-color: #A82B31;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item {
  padding: .5em;
  font-size: 1.2em;
  color: #fff;
}

.card-wrapper {
  margin: 0 auto;
  padding: .5em;
}

.card {
  margin: 0 auto 32px;
  max-width: 50em;
}

.card__header {
  padding: .5em 3em;
  background-color: #A82B31;
  font-size: 1.2em;
  color: #fff;
}

.card__body {
  padding: 0 3em 1em;
  font-size: 1em;
  background-color: #f2f2f2;
  overflow: auto;
}

.card__button {
  display: inline-block;
  font-size: 1em;
  padding: .5em .8em;
  color: #fff;
  margin: .2em;
}

.card__button--color-red{
  background-color: #A82B31;
}

.card__button--color-green{
  background-color: #468061;
}

.card__button--color-blue{
  background-color: #466180;
}

.paragraph {
}

.table {
  font-size: 0.8em;
  width: 100%;
}

.table__header{
  background-color: #e6e6e6;
  font-weight: normal;
}

.table__header-cell{
  font-weight: normal;
    padding: 0 .8em;
}

.table__cell--text-align-center{
	text-align: center;
}

.table__row:nth-child(even){
  background-color: #fff;
}

.table__link{
  color: #A82B31;
}

.footer {
  font-size: 0.8em;
  background-color: #545454;
  color: #f2f2f2;
  padding: 1em 6em;
}

.footer > p {
  margin:0;
}

@media (max-width: 767px) {
	
	
	.header{
		text-align:center;
}
	
	h1 {
		font-size: 1.5em;
	}
	
	h2 {
		font-size: 1.2em;
		margin: 0 0;
	}
	
	.card__header {
		padding: .5em 1em;
	}
	
	.card__body {
		padding: 0 1em 1em;
	}
	
	.header{
		margin: 2em 0;
}

 .footer {
  font-size: 0.8em;
  background-color: #545454;
  color: #f2f2f2;
  padding: 1em 1em;
}


	
}

@media (max-width: 576px) {

.menu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .menu {
  display: block;
  max-height: initial;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.menu__item {
  width: 100vw;
  text-align: center;
}

.burger-bar {
  padding: .5em;
  font-size: 1.2em;
  content: "";
  color: #fff;
  background-color: #A82B31;
}

.burger-bar__button {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #fff8;
}

.table__header-cell:nth-child(4), .table__header-cell:nth-child(5) {
  display:none;
}

td:nth-child(4), td:nth-child(5){
  display:table-row;
  width:100%;
}

}

